.news {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    column-gap: 20px;

}


.article {
    border: 1px solid #333;
    margin-bottom: 15px;
}

img {
    width: 100%;
}

h1,
footer {
    text-align: center;
    border: 1px solid #333;

}

box {
    box-shadow: 22px 10px 71px 36px rgba(187, 56, 56, 0.69);
    -webkit-box-shadow: 22px 10px 71px 36px rgba(187, 56, 56, 0.69);
    -moz-box-shadow: 22px 10px 71px 36px rgba(187, 56, 56, 0.69);
}
