.news {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    column-gap: 20px;

}


.article {
    border: 1px solid #333;
    margin-bottom: 15px;
}

img {
    width: 100%;
}

h1,
footer {
    text-align: center;
    border: 1px solid #333;

}
